@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*font-inter */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* navbar */

.navbar-title {
    width: 100rem;
    height: 5rem;
    background: rgba(26, 11, 46, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
}
.techwave {
    padding-left: 12.5rem;
}
.manus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12.5rem;
    gap: 20rem;
}

.nav-title{
    font-size: 2rem;
}
.tech {
    color: white;
}
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.image {
    display: none;
}


.linear-gradient {
    background: linear-gradient(to bottom, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.btn-primary {
    background: linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    width: 7rem;
    height: 2.2rem;
    color: white;
    border-radius: 2rem;
    border: none;
}







@media screen and (max-width: 576px) {
    .nav-menu {
        display: none;
    }
    .image {
        display: inline;
    }

}