@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*font-inter */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* navbar */

.navbar-title {
    width: 100%;
    height: 5rem;
    background: rgba(26, 11, 46, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
}
.techwave {
    padding-left: 12.5rem;
}
.manus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12.5rem;
    gap: 20rem;
}

.nav-title{
    font-size: 2rem;
}
.tech {
    color: white;
}
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.image {
    display: none;
}


.linear-gradient {
    background: linear-gradient(to bottom, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.btn-primary {
    background: linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    width: 7rem;
    height: 2.2rem;
    color: white;
    border-radius: 2rem;
    border: none;
}

/* Hero Section */
.hero-section {
    background: url(../assets/hero-bg.png);
    width: 100%;
    height: 47.5rem;
    background-size: cover;
    background-position: center;
}
.hero-container {
    display: flex;
    justify-content: center;
    position: relative;
}
.circle-microphone {
    position: absolute;
    left: 36.5rem;
    top: 6.6rem;
}
.microphone {
    position: absolute;
    left: 7.5rem;
    top: 5.5rem;
}
.btn {
    width: 4.2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgba(0, 255, 136, 1);
    border: none;
    position: absolute;
    bottom: 18rem;
    left: 17.5rem;
    font-weight: 700;
}

.hero-discription {
    justify-content: center;
    text-align: center;
    padding-top: 32rem;
}
.hero-discription>h2 {
    font-size: 3.75rem;
    font-weight: 800;
    color: white;
}
.hero-discription>p {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 1rem;
    color: rgba(255, 255, 255, 0.6);;
    padding-bottom: 2rem;
}
.btn-spotify {
    width: 12.5625rem;
    height: 2.75rem;
    color: white;
    background: linear-gradient(to bottom, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
}

.btn-subscribe {
    width: 10rem;
    height: 2.75rem;
    color: #00ff88;
    background-color: transparent;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
}
.btn-subscribe .png {
    vertical-align: middle;
    padding-right: 3px;
    padding-bottom: 2px;
}

/* About the Podcast */

.podcast {
    width: 100%;
    height: 40.375rem;
    background: rgba(26, 11, 46, 1);
}
.about {
    padding: 3.125rem 12.5rem 7.5rem 12.5rem;
}
.about-container {
    width: 75%;
    height: 13.875rem;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.about-container>h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
}
.about-container>p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 1rem;
}
.horizontalbar {
    border: none;
    margin-top: 79.5px;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0.1;
}
.card-items {
    display: flex;
    justify-content: center;
    margin-top: 80.5px;
    gap: 140px;
}
.card-items h2 {
    color:rgba(0, 255, 136, 1);
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}
.card-items p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 10px;
}

/*main-items*/

.main-container {
    width: 100%;
    height: 70rem;
    padding: 7.5rem;
    border: 2px solid red;
}
.choose-items-box {
    border: 2px solid yellow;
}
.quality-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    border: 2px solid blue;
}




@media screen and (max-width: 576px) {
    .nav-menu {
        display: none;
    }
    .image {
        display: inline;
    }



/* hero-section */

    .hero-section {
        width: 100%;
        height: auto;
        padding-bottom: 4rem;
    }

    .hero-container {
        display: grid;
        flex-direction: column;
        align-items: center;
    }
}